.navTitle{
    color:red !important; 
}
.navTitleScroll{
    color:blue !important;
}

.navBackground{
    -webkit-transition: background-color 0.5s ease-in-out ;
    -moz-transition: background-color 0.5s ease-in-out ;
    -o-transition: background-color 0.5s ease-in-out ;
    transition: background-color 0.5s ease-in-out ;
    background-color:yellow !important;
}
.navBackgroundScroll{
    -webkit-transition: background-color 0.5s ease-in-out ;
    -moz-transition: background-color 0.5s ease-in-out ;
    -o-transition: background-color 0.5s ease-in-out ;
    background-color:green !important;
}

.navItem{
    color:blue !important;
}
.navItemScroll{
    color:red !important;
}

