.footerSection {
  .footerTitle {
    font-size: clamp(20px, 5vh, 30px);
    font-weight: 600;
    color: $light-brown;
    margin-bottom: 1rem;
  }

  .pages-links {
 
   p{
        margin-bottom: 1rem;
        color: #e4e4e4;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        margin-bottom: 1rem;
    
        a {
            color: #e4e4e4;
            text-decoration: none;
        }
   }
  }
  .follow-us-links{
    display: flex;
    flex-direction: row;
  justify-content: center;

    a{
      margin-right: 12px;
      color: #e4e4e4;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      svg{
        width: 20px;
        height: 20px;
      }
    }
  }
  .privacy-policy-links{
    a{
        margin-top: 12px;
        margin-bottom: 6px;
        color: #e4e4e4;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
    }
  }
}
